{% extends "base.html" %}
{% block title%}开始{% endblock %}
{% block content%}
<div class="panel-group" role="tablist">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
        <h4 class="panel-title" id="-collapsible-list-group-">
          <a class="" data-toggle="collapse" href="#collapseListGroup1" aria-expanded="true" aria-controls="collapseListGroup1">
            高中
          </a>
        <a class="anchorjs-link" href="#-collapsible-list-group-"><span class="anchorjs-icon"></span></a></h4>
      </div>
      <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseListGroupHeading1" aria-expanded="true">
        <ul class="list-group">
          <li class="list-group-item"><a>语文</a></li>
          <li class="list-group-item"><a>数学</a></li>
          <li class="list-group-item"><a>英语</a></li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="collapseListGroupHeading2">
        <h4 class="panel-title" id="-collapsible-list-group-">
          <a class="" data-toggle="collapse" href="#collapseListGroup2" aria-expanded="true" aria-controls="collapseListGroup2">
            初中
          </a>
        <a class="anchorjs-link" href="#-collapsible-list-group-"><span class="anchorjs-icon"></span></a></h4>
      </div>
      <div id="collapseListGroup2" class="panel-collapse collapse" role="tabpane2" aria-labelledby="collapseListGroupHeading2" aria-expanded="true">
        <ul class="list-group">
          <li class="list-group-item"><a>语文</a></li>
          <li class="list-group-item"><a>数学</a></li>
          <li class="list-group-item"><a>英语</a></li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="collapseListGroupHeading3">
        <h4 class="panel-title" id="-collapsible-list-group-">
          <a class="" data-toggle="collapse" href="#collapseListGroup3" aria-expanded="true" aria-controls="collapseListGroup3">
            小学
          </a>
        <a class="anchorjs-link" href="#-collapsible-list-group-"><span class="anchorjs-icon"></span></a></h4>
      </div>
      <div id="collapseListGroup3" class="panel-collapse collapse" role="tabpane3" aria-labelledby="collapseListGroupHeading3" aria-expanded="true">
        <ul class="list-group">
          <li class="list-group-item"><a>语文</a></li>
          <li class="list-group-item"><a>数学</a></li>
          <li class="list-group-item"><a>英语</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="progress">
            <div class="progress-bar" style="width: 45%;"></div>
          </div>
  <a href="#fakelink" class="btn btn-block btn-lg btn-primary">选好了</a>
  <a href="#fakelink" class="btn btn-block btn-lg btn-default">取消</a>
    </div>
              {% endblock %}