<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>OdOup</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="static/css/flat-ui.css" rel="stylesheet">
    <link href="static/css/odoup.css" rel="stylesheet">
</head>
<body>
<div class="container main-body">
    <div id="login-form"  style="display: block;">
        <div class="row">
            <div class="span6">
                <p class="form-title">
                    登录
                    <small>
                        忘记密码？ <a href="/accounts/password/reset/">点击这里取回</a>
                    </small>
                </p>
            </div>
            <div class="span6">
                <p class="third-party-title">
                    第三方账号登陆
                </p><p>
            </p></div>
        </div>
        <div class="row">
            <div class="login-box account-box span6"><form action="http://www.shanbay.com/accounts/login/" method="post" class="account-form" id="loginform"> <input type="hidden" name="csrfmiddlewaretoken" value="FaKEorjJBlFpVA4gPJYLJFGscdoaeRhd">     <div id="" class="">         <p><label for="id_username">用户名或邮箱：</label> <input class="text-input" id="id_username" name="username" type="text"><span class="add-on-icon visible-desktop"><i class="icon-user"></i></span></p> <p><label for="id_password">密码：</label> <input class="text-input" id="id_password" name="password" type="password"><span class="add-on-icon visible-desktop"><i class="icon-lock"></i></span></p>     </div>     <div class="clear"></div>     <div class="login-buttons">         <button type="submit" class="btn btn-success">登录</button>     </div> </form></div>
            <div class="span6 social-login-box visible-desktop">
                
<div class="row">
    <div class="span3">
        <div class="social-login-div social-login-sina-weibo" href="/social/login/weibo/">
            <a><span class="social-login-icon"><i class="icon-sina-weibo"></i></span><span class="social-login-text">新浪微博</span></a>
        </div>
        <div class="social-login-div social-login-wechat" href="/social/login/wechat/">
            <a><span class="social-login-icon"><i class="icon-weixin"></i></span><span class="social-login-text">微信</span></a>
        </div>
        <div class="social-login-div social-login-qq" href="/social/login/qq/">
            <a><span class="social-login-icon"><i class="icon-qq"></i></span><span class="social-login-text">QQ</span></a>
        </div>
    </div>
    <div class="span3">
        <div class="social-login-div social-login-tencent-weibo" href="/social/login/tqq/">
            <a><span class="social-login-icon"><i class="icon-tencent-weibo"></i></span><span class="social-login-text">腾讯微博</span></a>
        </div>
        <div class="social-login-div social-login-renren" href="/social/login/renren/">
            <a><span class="social-login-icon"><i class="icon-renren"></i></span><span class="social-login-text">人人</span></a>
        </div>
        <div class="social-login-div social-login-douban" href="/social/login/douban2/">
            <a><span class="social-login-icon"><i class="icon-douban"></i></span><span class="social-login-text">豆瓣</span></a>
        </div>
    </div>
</div>

            </div>
        </div>
    </div>
    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/video.js"></script>
    <script src="static/js/flat-ui.min.js"></script>
</body>
</html>