<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>OdOup</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="static/css/flat-ui.css" rel="stylesheet">
    <link href="static/css/odoup.css" rel="stylesheet">
</head>
<body>
<div class="container main-body">
<h1 class="text-center">OdOup</h1>
<HR style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="80%" color=#987cb9 SIZE=1>
<div class="row text-center">
              <div class="col-xs-3">
<div class="pallete-item ">
			      <dl class="palette palette-peter-river">
              <dt>今日任务</dt>
              <dd>高中物理</dd>
            </dl>
            <dl class="palette palette-belize-hole">
              <dt>目前进度</dt>
              <dd>光学 18/30</dd>
                  <img src="static/img/icons/svg/clipboard.svg" alt="Clipboard">
            </dl>
            <dl class="palette palette-belize-hole">
              <dt>目前进度</dt>
              <dd>力学 1/30</dd>
                  <img src="static/img/icons/svg/clipboard.svg" alt="Clipboard">
            </dl>
		      </div>
		      </div>
              <div class="col-xs-6">
              <div class="tile">
            <h3 class="tile-title">高二物理-动量守恒</h3>
            <p>在匀速行驶的船上，当船上的人相对于船竖直向上抛出一个物体时，船的速度将（水的阻力不变）</p>
<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
      <button type="button" class="btn btn-default">A.变大</button>
      <button type="button" class="btn btn-default">B.变小</button>
      
      <button type="button" class="btn btn-default">C.不变</button>
      <button type="button" class="btn btn-default">D.先变大再变小</button>
      
      
    </div>
          </div>
		      </div>
              <div class="col-xs-3">
        </div>
              </div>
    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/video.js"></script>
    <script src="static/js/flat-ui.min.js"></script>
</body>
</html>